<ul class="mt-6">
  <li class="mb-2">
    <h6 class="gradient-text">
      <a href="<%= styleguide_atoms_path %>">Atoms</a>
    </h6>
  </li>
  <li class="mb-2">
    <h6 class="gradient-text">
      <a href="<%= styleguide_molecules_path %>">Molecules</a>
    </h6>
  </li>
  <li class="mb-2">
    <h6 class="gradient-text">
      <a href="<%= styleguide_organisms_path %>">Organisms</a>
    </h6>
  </li>
</ul>
