<div id="search-page" class="main-content--half">
  <div class="main-content__side--left">
    <!-- SIDEBAR NAVIGATION -->
    <%= render partial: 'application/layouts/sidebar_account'%>
  </div>
  <div class="main-content__center">
    <!-- PAGE CONTENT-->
    <h2>Atomic styleguide</h2>
    <p>This styleguide is based upon the principles of <a href="https://atomicdesign.bradfrost.com/" class="gradient-text">Atomic Design</a>, a methodology composed of five distinct stages working together to create interface design sytems in a more deliberate and hierarchical manner.</p>
    <ul>
      <%= render partial: 'application/components/styleguide_nav'%>
    </ul>
  </div>
</div>
