<div class="main-content--half">
  <div class="main-content__side--left">
    <!-- SIDEBAR NAVIGATION -->
    <%= render partial: 'application/layouts/sidebar_account'%>
  </div>
  <div class="main-content__center">
    <!-- PAGE CONTENT-->
    <h2 class="text-center"><%= t('post.title.edit') %>: <br/> <span class="font-normal"><%=@post.title%></span></h2>

    <!-- POSTS -->
    <%= render partial: 'form', locals: {post: @post } %>

  </div>
</div>>
